
* {
  font-family: sans-serif;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.content {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

#chartpart {
  margin: 5px;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.about {
  margin-top: 3em;
  margin-bottom: 3em;
}

details {
  border: dashed black 2px;
  padding: 8px;
}

summary {
  font-weight: bolder;
}

#moredetail {
  margin-top: 2em;
}

@media screen and (min-width: 600px) {
  .row {
    flex-direction: row;
  }
  .content {
    flex-direction: row;
  }
  .wrapper {
    margin: 6px;
  }
  .about {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
  #chartpart {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 599px) {
  .row {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
  }
  .wrapper {
    margin: 2px;
  }
  .about {
    margin-left: 5px;
    margin-left: 5px;
    width: auto;
  }
  #chartpart {
    width: 90%;
  }
}


